body { 
	background: url("https://image.ibb.co/gEQxL6/lunala.jpg") left / cover; 
	cursor: url(https://i.imgur.com/CXBjcgl.png), auto;
} 
/*
original background https://images4.alphacoders.com/775/thumb-1920-775002.jpg submitted by "ASR-94" on alphacoders.com
https://i.imgur.com/YiOYhw8.jpg imgur link not working for some users
trying https://image.ibb.co/gEQxL6/lunala.jpg then...
*/
/*button custom color code
button.button.mainmenu2 {
	background: linear-gradient(to top, #5f5f5f, blue);	
}*/
div.chat-log {
	/* font-family: cursive; */
	/* font-family: comic sans-serif;
		font-size: 4; */
	/* font-family: Kristen ITC */
	/**/ font-family: Segoe Print 
}
div#room-lobby.ps-room.ps-room-light {
	background: rgba(240, 200, 255, 0.85);
}
div#room-games.ps-room.ps-room-light {
	background: rgba(120, 200, 255, 0.85);
}
/*a.roomtab.button {
	background: #92558a9c;
	border-color: #ffffff;
	color: #ffffff;
	text-shadow: none;
}
.maintabbarbottom {
	background: #96469685;
}
.tabbar a.button:hover {
	background: #96469685
}
.tabbar .button.subtle-notifying{
	color:#96469685!important
}
.tabbar .button.cur.subtle-notifying{
	color:#96469685!important
}*/
